* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@media (max-width: 649px) {
    .mobile-version {
        display: block;
    }
    .desktop-version {
        display: none;
    }

    body {
        font-family: 'Bitter', serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: linear-gradient(45deg, #7F9FCC, #AACDF3, #5D8EC6, #82AFE1);
        background-size: 300% 300%;
        animation: morphGradient 15s infinite ease-in-out;
        min-height: 100vh;
    }

    @keyframes morphGradient {
        0% {
            background-position: 0% 50%;
        }
        25% {
            background-position: 50% 100%;
        }
        50% {
            background-position: 100% 50%;
        }
        75% {
            background-position: 50% 0%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    .cabecalho{
        margin-bottom: 20px;
        margin-top: 50px;
    }
    
    .logo{
        width: 35%;
        height: auto;
        border-radius: 100%;
        margin-bottom: 20px;
    }
    
    .title{
        font-weight: bold;
        font-size: 18px;
        white-space: nowrap;
        margin: 10px;
    }

    .bio{
        font-size: 14px;
    }

    .social-midias {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 10%;
        white-space: nowrap;
    }
    
    .social-midias img {
        width: 30px;
        height: auto;
        transition: transform 0.1s ease-out;
    }
    
    .social-midias img:hover {
        transform: scale(1.1);
    }

    .tema{
        margin: 15px;
    }
    
    .corpo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .botao {
        display: flex;
        align-items: center; 
        justify-content: center; 
        width: 75vw;
        padding: 20px;
        margin: 10px;
        margin-bottom: 20px;
        border-radius: 10px;
        font-size: 14px;
        background-color: #ffffff;
        color: #000;
        text-decoration: none;
        box-shadow: 6px 6px 0px #63a2ff, 6px 6px 0px 2px #63a2ff;
        position: relative;
        transition: all 0.2s ease-in-out;
        border: 2px solid #63a2ff;
    }
    
    .botao:hover {
        box-shadow: 3px 3px 0px #63a2ff, 3px 3px 0px 2px #63a2ff;
        transform: translate(3px, 3px);
    }

    .ku{
        box-shadow: 6px 6px 0px #1e229e, 6px 6px 0px 2px #1e229e; 
        border: 2px solid #1e229e;
    }
    
    .ku:hover{
        box-shadow: 3px 3px 0px #1e229e, 3px 3px 0px 2px #1e229e;
    }

    /* Container para input de busca */
    .search-container {
        display: flex;
        justify-content: center;
        margin: 20px 0 5px 0; 
    }

    /* Container para o dropdown de gênero */
    .genre-container {
        display: flex;
        justify-content: center;
        margin: 5px 0 20px 0;
    }

    .search-container input {
        width: 75vw;
        padding: 15px;
        margin: 10px;
        margin-bottom: 5px;
        border-radius: 30px;
        background-color: #ffffff;
        color: #000;
        font-family: 'Bitter', serif;
        font-size: 14px;
        border: 2px solid #ffffff;
        outline: none;
        box-shadow: none; 
        transition: all 0.2s ease-in-out;
    }

    .genre-container select {
        padding: 10px;
        border-radius: 5px;
        margin: 10px;
        font-family: 'Bitter', serif;
        font-size: 14px;
        border: 2px solid #ffffff;
        outline: none;
        background-color: #ffffff;
        color: #000;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .genre-container select:hover {
        transform: scale(1.01);
    }
}

@media (min-width: 650px){
    .mobile-version {
        display: none;
    }

    .desktop-version {
        display: block;
    }

    body {
        height: 100vh;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, sans-serif;
        color: #333;
        background: linear-gradient(45deg, #9FC4E3, #E1FFFF, #A1D2E6, #BFE3FF);
        background-size: 300% 300%;
        animation: morphGradient 15s infinite ease-in-out;
    }

    @keyframes morphGradient {
        0% {
            background-position: 0% 50%;
        }
        25% {
            background-position: 50% 100%;
        }
        50% {
            background-position: 100% 50%;
        }
        75% {
            background-position: 50% 0%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    .menu{
        position: relative;
        width: 550px;
        height: 550px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .menu li {
        position: absolute;
        left: 0;
        list-style: none;
        transform-origin: 275px;
        transition: 0.5s;
        transition-delay: calc(0.1s * var(--i));
        transform: rotate(0deg) translateX(275px);
    }
    
    .menu.active li{
        transform: rotate(calc(360deg / 4 * var(--i)));
    }
    
    .menu li a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 75px;
        background: #fff;
        border-radius: 50%;
        transform: rotate(calc(360deg / -4 * var(--i)));
        box-shadow: 0 3px 4px rgba(0,0,0, 0.15);
        color: #333;
        font-size: 3rem;
    }
    
    .toggle{
        position: absolute;
        width: 150px;
        height: 150px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10000;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 0 4px rgba(0,0,0, 0.15);
        transition: transform 1.25s;
    }
    
    .toggle img {
        max-width: 200%;
        height: auto;
    }
    
    .menu.active .toggle{
        transform: rotate(360deg);
    }
}
